.page-header {
    background-color: #4ABDAC;
    margin-top: 0;
    padding: 30px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    display: inline;
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    clear: both;
    margin-left: 40px;
    margin-right: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Special Elite';
}

.date {
    color: #828282;
    float: right;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #DFDCE3;
    float: right;
    font-size: 15pt;
    margin-right: 10px;
}

.navbar-brand {
    font-family: 'Special Elite';
    font-size: 2.72em;
}

.navbar-toggle {
    margin-bottom: 20px;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-top: 18px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.action-btn {
    float: right;
}

.btn {
    float: left;
    margin-left: 5px;
}

.gi-md {
    font-size: 1.45em;
}

.auth {
    float: right;
}

img.left {
    float: left;
    margin: 10px;
}

img.right {
    float: right;
    margin: 10px;
}