{% extends 'blog/base.html' %}

{% block content %}
	<h1>Welcome to My Website</h1>
	<p>I am a software engineer living in Washington, D.C. I moved to Washington from Cambridge, MA, where I was working as a tech consultant.</p>
	<p>I started out on the functional side of the SDLC but soon became curious about the underlying tech. Some HTML lead to some CSS lead to some Python and soon I found myself taking classes in Computer Science at night and on weekends... systems programming and machine organization... functional programming... algorithms and data structures, the theory of programming languages and here we are.</p>
	<h2>Contact</h2>
	<p>If you'd like to get in touch or see some of my projects on Github, then you can find me here:</p>
	<a href="https://github.com/simongawlik"><i class="fa fa-github-square fa-5x"></i></a>
    <a href="http://www.linkedin.com/pub/simon-gawlik/57/784/138"><i class="fa fa-linkedin-square fa-5x"></i></a>
    <a href="https://twitter.com/sgawi"><i class="fa fa-twitter-square fa-5x"></i></a>
    <a href="https://www.facebook.com/simon.gawlik"><i class="fa fa-facebook-square fa-5x"></i></a>
	<h2>More About Me</h2>
	<p>You're still here? You must not get easily distracted by social media. Okay, then some more about me: </p>
	<p>Before starting my professional career in Cambridge, I received my Master's degree in Management Research from Oxford University. My final thesis used sentiment analysis on large amounts of social media data to aid the decision making process and corporate communications of senior management.</p>
	<p>Leading up to my Master's degree, I received my Bachelor's degree from Harvard University where I was an Economics major and also received a citation in French. During my years at Harvard, my coursework included Behavioral, Social, International Trade, and Financial Economics.</p>
	<p>From the age of 11 onward, I was a dedicated rower, competing for the German National Team, Oxford University, and Harvard University until ending my athletic career in 2011. I stay involved in rowing by volunteering at events, coaching occasionally, and participating in Alumni racing.</p>
	<p>I was born and raised in Frankfurt am Main, Germany. I attended public schools and rowed for my home club, RC Nassovia Höchst. After school and rowing I would enjoy my daily ethics lectures (Star Trek TNG - I was Lt. Comm. Data for carnival when I was about 9 years old. I didn't win best costume even though my mom tailored her heart out for me, I died my hair black, and painted my face white. The judges must have been Star Wars fans)</p>

{% endblock %}